body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:  rgb(2, 58, 39);
}

.filleStyle{
    color: rgb(115, 173, 27)
}